@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.main-container{
    min-height: 100vh;
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-around;
}
.content{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}
.heading{
    color:#B2BABB;
    font-family: Roboto;
    margin-bottom: 10px;
}
.description{
    color: #B2BABB;
    font-family: 'Roboto';
    width: 400px;
}
.image{
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
.image-container{
    align-self: center;
}
.name{
    color: #B2BABB;
    font-family: 'Roboto';
    margin-left: 50px;
}

@media screen and (min-width : 767px) and (max-width : 1250px){
    .main-container{
        width: 80vw;
    }
    .image{
        height: 200px;
        width: 200px;
    }
    .container{
        width: 70vw;
        justify-content: space-between;
    }
    .name {
        font-size: 15px;
    }
    .heading{
        font-size: 25px;
    }
    .description{
        font-size: 13px;
        width: 300px;
    }
}

@media screen and (max-width : 766px){
    .container{
        flex-direction: column;
    }
    .content{
        align-items: center;
    }
    .description{
        max-width: 550px;
        text-align: center;
    }
}

@media screen and (min-width : 550px) and (max-width :760px){
    .content{
        width: 100px;
    }
    .description{
        font-size: 12px;
        width: 300px;
    }
    .heading{
        width: 300px;
    }
}
@media screen and (max-width : 549px) {
    .description{
        font-size: 10px;
        width: 300px;
    }
    .main-container{
        max-height: 100px;
        overflow: auto;
    }
}
