/* General Styles */
.main-container {
    width: 100vw;
    padding: 20px;
    text-align: center;
    background-color: #333;
    display: flex;
    align-items: center;
  }
  
  /* Container */
  .container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Content */
  .content {
    flex: 1 1 300px;
    max-width: 600px;
  }
  
  .about-heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ddd;
  }
  
  .about-description {
    font-size: 1.2em;
    color: #ddd;
    line-height: 1.6;
  }
  
  /* Image Container */
  .image-container {
    flex: 1 1 300px;
    text-align: center;
  }
  
  .image {
    width: 100%;
    max-width: 300px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .name {
    margin-top: 15px;
    font-size: 1.5em;
    color: #007bff;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .about-heading {
      font-size: 2em;
    }
  
    .about-description {
      font-size: 1em;
    }
  
    .name {
      font-size: 1.3em;
    }
  }
  
  @media (max-width: 480px) {
    .about-heading {
      font-size: 1.8em;
    }
  
    .about-description {
      font-size: 0.9em;
    }
  
    .name {
      font-size: 1.2em;
    }
  }
  