@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.main-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.header{
    margin-left: 20px;
}
.content{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}
.heading{
    color:#B2BABB;
    font-family: 'Roboto';
}
.description{
    color: #B2BABB;
    font-family: 'Roboto';
}
.image{
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
.image-container{
    align-self: center;
}
.name{
    color: #B2BABB;
    font-family: 'Roboto';
    margin-left: 50px;
}