.item-container{
    min-width: 15vw;
    min-height: 100vh;
    padding-top: 40px;
    border-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0;
    padding: 10px;
    color:#ddd;
    flex-wrap: wrap;
}
.items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding-left: 0;      
    padding: 10px;    
    flex-wrap: wrap;                                                              
}
.item{
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
    display: flex;
    padding: 10px;
    text-decoration: none;
}
.item:hover{
    width: 130px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 2px;
    color:#333;
}
@media screen and (min-width : 550px) and (max-width : 760px){
    .item-container{
        min-width: 30vw;
        height: 100vh;
        flex-direction: row;
    }
}
@media screen and (max-width : 549px) {
    .item-container{
        min-height: 100px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .items{
        max-height: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width : 280px) {
   .item{
    font-size: 12px;
   } 
}